<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ... -->
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>
<body>
  <%- include('partials/header'); %>
  <h1>Todo List</h1>
  <form action="/add-todo" method="post">
    <input type="text" name="todo" required>
    <button type="submit">Add</button>
  </form>
  <ul>
    <% todos.forEach((todo, index) => { %>
      <li>
        <input type="checkbox" id="todo-<%= index %>">
        <label for="todo-<%= index %>"><%= todo %></label>
      </li>
    <% }) %>
  </ul>
</body>
</html>
